<div class="section">
    <h5>Actors</h5>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Birth Year</th>
        <th>Select!</th>
      </tr>
      <tr *ngFor="let item of actorsDB">
        <td>{{ item.name }}</td>
        <td>{{ item.bYear }}</td>
        <td>
          <button
            *ngIf="selectedActor !== null && selectedActor !== item"
            class="btn btn-secondary"
            disabled
          >
            Select
          </button>
          <button
            *ngIf="selectedActor === null"
            class="btn btn-primary"
            (click)="changeSelectedActor(item)"
          >
            Select
          </button>
          <button *ngIf="selectedActor === item" class="btn btn-success">
            Selected
          </button>
        </td>
      </tr>
    </table>
    <br />
    <h5>Movies</h5>
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Select!</th>
      </tr>
      <tr *ngFor="let item of moviesDB">
        <td>{{ item.title }}</td>
        <td>{{ item.year }}</td>
        <td>
          <button
            *ngIf="selectedMovie !== null && selectedMovie !== item"
            class="btn btn-secondary"
            disabled
          >
            Select
          </button>
          <button
            *ngIf="selectedMovie === null"
            class="btn btn-primary"
            (click)="changeSelectedMovie(item)"
          >
            Select
          </button>
          <button *ngIf="selectedMovie === item" class="btn btn-success">
            Selected
          </button>
        </td>
      </tr>
    </table>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="onSavingActorToMovie()"
    >
      Insert Actor To Movie
    </button>
  </div>